<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    
    <bean id="food02"
          class="org.geekbang.time.homework0501.xml.Food">
        <property name="dish" value="第2道菜" />
        <property name="name" value="西湖牛肉羹" />
    </bean>
    
    <bean id="food03"
          class="org.geekbang.time.homework0501.xml.Food">
        <property name="dish" value="第3道菜" />
        <property name="name" value="红烧鱼" />
    </bean>
    
    <bean id="people1" class="org.geekbang.time.homework0501.xml.People">
        <property name="foods">
            <list>
                <ref bean="food02" />
                <ref bean="food03" />
            </list>
        </property>
    </bean>
    
    
    <context:component-scan base-package="org.geekbang.time.homework0501.annotation" />
    
<!--     <bean id="house" class="org.geekbang.time.homework0501.annotation.House"></bean> -->
    
    
</beans>